body {
    background-image: linear-gradient(white, white, rgba(170, 170, 170, 0.938), white);
    /* font-family: hyundai sans text; */
    width: calc(100vw - 24px);
}

.page-header {
    background-color: rgba(0, 81, 128, 0.507);
    color: white;
    border-bottom: 2px solid black;
    width: 101%;
}

.card-header {
    color: white;
    text-shadow: 0px 5px 10px black;
    background-color: rgba(0, 81, 128, 0.507);
}

.page-header>h1,
.page-header>h4 {
    text-align: right;
    margin-right: 30px;
    text-shadow: 0px 5px 10px black;
}

#main_container {
    margin: 10% auto 5% auto;
    padding: 10px;
}

#hyundai-btn,
#genesis-btn,
#input-btn,
#veh_sel,
#net_sel,
#home {
    box-shadow: 0px 5px 5px black;
}

#net_sel {
    width: 135px;
}

#veh_sel {
    width: 185px;
}

#hyun_logo,
#gen_logo {
    width: 60%;
}

.dataPlot {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.vehInput,
.netInput,
.netInput2,
.locInput,
.pinInput {
    font-size: 23px;
    color: red;
}

.selVehImg {
    width: 100%;
}


/* .connLocImg {
    width: 90%;
} */

.canLayImg {
    width: 100%;
}

#vehImg,
#vehData,
#inputData,
#knownGood {
    box-shadow: 0px 5px 15px black;
}

#knownGood {
    height: 475px;
    max-height: 475px;
    overflow: auto;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.goodValue {
    color: green;
}

@media only screen and (min-width: 1006px) and (max-width: 1800px) {
    #veh,
    #known,
    #net_id {
        font-size: 18px;
    }
    .pinInput,
    .locInput {
        font-size: 15px;
    }
    #knownGood {
        height: 425px;
        max-height: 425px;
        font-size: calc(.4em + .4vw)
    }
    .title {
        font-size: 9px;
    }
    #tableF {
        font-size: 14px;
    }
}